/*servicio*/
.card-class-servicio {
	margin-top: 1%;
	margin-bottom: 3%;
	margin-left: 170px;
	margin-right: 10px;
	width: 400px;
	background-color: $background-color_4;
}
.card-text-arriba {
	margin-bottom: 72px;
}
