$color_1: #9db4c0;
$color_2: #c2dfe3;
$color_3: white;
$color_4: #242423;
$color_5: #c2dfe3;
$color_6: #9db4c0;
$font-family_1: "Courgette", cursive;
$font-family_2: "Anton", sans-serif;
$font-family_3: "Cinzel", serif;
$background-color_1: black;
$background-color_2: #dadff7;
$background-color_3: #f5cb5c;
$background-color_4: #d6d1c2;
$background-color_5: #606f79;
$background-color_6: #3a6073;
